include README.md
include LICENSE
include requirements/requirements.in
recursive-exclude * *.py[co]
include versioneer.py
include py4ai/logging/_version.py
include py4ai/logging/py.typed
recursive-include py4ai/logging/datasets/data *
